<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    
  </head>
  <body>
    <div style="color:transparent;visibility:hidden;opacity:0;font-size:0px;border:0;max-height:1px;width:1px;margin:0px;padding:0px;border-width:0px!important;display:none!important;line-height:0px!important;"><img border="0" width="1" height="1" src="https://post.pinterest.com/q/prvyavGBBkxAk3k1WJKPVg~~/AAAAAQA~/RgRgdXEePVcJcGludGVyZXN0QgoAHh7skl4OM2KEUhVoZWxsb0BtYXR0aGV3c21pdGguY2NYBAAAAAA~" /></div>
    <table class="m_bg_white" width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td class="m_w320 m_pt0" width="580" align="center" style="padding-top:20px">
          <table class="m_w320 m_b0" height="40" width="580" align="center" border="0" cellpadding="0" cellspacing="0" style="background-color:#ffffff">
            <tr>
              <td class="m_w280 m_pl20 m_pr20" width="580" align="left" style="color:#ffffff;font-size:1px">
                Just so you know: You have 1 hours to pick your password. After that, you&#39;ll…
              </td>
            </tr>
            <tr>
              <td class="m_w280 m_pl20 m_pr20 m_pt20 m_pb20" width="580" align="left" style="padding:30px 30px 20px 30px">
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td class="m_h40" align="left" valign="bottom" height="50">
                      <a href="https://post.pinterest.com/f/a/VPRis9K6DbMbiACas23eCg~~/AAAAAQA~/RgRgdXEePwRXCXBpbnRlcmVzdEIKAB4e7JJeDjNihFIVaGVsbG9AbWF0dGhld3NtaXRoLmNjWAQAAAAA?target=https%3A%2F%2Fwww.pinterest.com%2F%3Fe_t%3De34b80bd76924f62909e717382ada1d6%26e_t_s%3Dheader%26utm_source%3D31%26utm_medium%3D2000%26utm_campaign%3Dpwreset" title="Visit Pinterest">
                        <img class="m_wh34" width="48" height="48" border="0" src="https://i.pinimg.com/email/shared/v2_brand/logo_circle_100.png" style="-ms-interpolation-mode:bicubic;text-decoration:none;display:block;outline:none;" />
                      </a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <table class="m_bg_white" width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="580" align="center">
          <table class="m_w320" width="580" align="center" border="0" cellpadding="0" cellspacing="0" style="background-color:#ffffff">
            <tr>
              <td width="580" align="center" style="padding-bottom:50px">
                <table width="100%" border="0" cellpadding="0" cellspacing="0" style="background-color:#ffffff">
                  <tr>
                    <td class="m_w280 m_pl20 m_pr20" width="580" align="center" style="padding:0 30px 0 30px;background-color:#ffffff">
                      <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;">
                        <tr>
                          <td class="m_h3 " align="left" valign="bottom" style="padding:0px 0 40px 0;font-family:helvetica neue,helvetica,arial,sans-serif;font-size:22px;line-height:26px;color:#444444">
                            Here is the confirmation code for your email verify: 
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td class="m_w280 m_pl20 m_pr20" width="580" align="center" style="padding:0 30px 0 30px;background-color:#ffffff">
                      <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;">
                        <tr>
                          <td class="m_plr0" align="center" style="padding:0 35px 0 35px">
                              <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td align="center" style="padding:14px 20px 14px 20px;background-color:#E60023;border-radius:4px">
                                    <p class="m_overflow280" style="font-family:helvetica neue,helvetica,arial,sans-serif;font-weight:bold;font-size:18px;line-height:1.5;color:#ffffff;text-decoration:none;display:block;text-align:center;;max-width:400px;overflow:hidden;text-overflow:ellipsis">{{code}}</p>
                                  </td>
                                </tr>
                              </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td class="m_w280 m_pl20 m_pr20" width="580" align="center" style="padding:0 30px 0 30px;background-color:#ffffff">
                      <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;">
                        <tr>
                          <td class="m_h30 m_fs30" style="height:40px;font-size:40px;">
                            &nbsp;
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td class="m_w280 m_pl20 m_pr20" width="580" align="center" style="padding:0 30px 0 30px;background-color:#ffffff">
                      <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;">
                        <tr>
                          <td class="m_h3 " align="left" valign="bottom" style="padding:0px 0 0px 0;font-family:helvetica neue,helvetica,arial,sans-serif;font-size:22px;line-height:26px;color:#444444">
                            All you have to do is copy the confirmation code and paste it to your form to complete the email verification process.
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>